version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    assignees:
      - "henriquesebastiao"

  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "daily"
    assignees:
      - "henriquesebastiao"