name: Deploy

on:
  workflow_run:
    workflows: ["Build"]
    types: [completed]
    branches:
      - 'main'

  workflow_dispatch:

jobs:
  deploy:
    name: Deploy Wiki
    runs-on: ubuntu-latest
    environment:
      name: production
      url: https://wiki.henriquesebastiao.com/

    steps:
      - name: Download site
        uses: actions/download-artifact@v7
        with:
          name: site
          path: ./site/
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ github.event.workflow_run.id }}

      - name: Deploy to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy ./site --project-name=wiki --branch=main